body {
    padding:60px 3em;
    text-align:center;
    font-size:3em;
}

h1 {
    font-size:3em;
    margin-bottom:0.4em;
}

input, button{
  line-height:1.6em;
}

#tryagain {
  padding-top:6em;
}

span {
  background:yellow;
  padding:0 0.2em;
}

p {
  padding-top:1em;
}

#footer {
  font-size:0.6em;
  position:fixed;
  bottom:0;
  left:0;
  right:0;
}
