body {
    padding:60px 3em;
    text-align:center;
    font-size:3em;
}

h1 {
    font-size:3em;
    margin-bottom:0.4em;
}

input, button{
  line-height:1.6em;
}

#tryagain {
  padding-top:6em;
}

span {
  background:yellow;
}

p {
  padding-top:1em;
}
